<header class="header">
  <h1>Sample Haven - {{toUpperCase pageName}}</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/bio">Bio</a></li>
  </ul>
</header>
